{% extends "base.html" %}
{% block content %}

<h3 class="aboutus">About me(darkframexue):</h3>
<a class="aboutus">  <img class="aboutus" weight="100px" height="100px" src="../static/images/me.jpeg" /> I am hireable!</a>
<p class="aboutus"> I am now a collage student in DLUT aiming for a full stack programmer.</p>
<br>
<p class="aboutus"> You can contack me with email below:</p>
<a class="aboutus" href="mailto:darkframexue@outlook.com">darkframexue@outlook.com</a>
<a class="aboutus" href="mailto:darkframexue@gmail.com">darkframexue@gmail.com</a>
<p class="aboutus"> Maybe phone me up: (+86)18840837072</p> 	

{% endblock %}
