{% extends "base.html" %}
{% block content %}

<a type="button" class="btn btn-primary" href="{{ url_for('get_users_contributions', _external=True) }}">graph</a>
<a type="button" class="btn btn-primary" href="{{ url_for('get_users_contributions', _external=True, return_json = true) }}">json</a>
<div class="table-responsive">
	<table class="table table-hover">
	<thead>
		<tr>
			<td>contributor</td>
			<td>email</td>
			<td>additions (line)</td>
			<td>deletions (line)</td>
			<td>total (line)</td>
		</tr>
	</thead>
	</tbody>
		{% for contributor in contributors %}
		<tr>
			<td>
				{{ contributor['name'] }}
			</td>
			<td>
				{{ contributor['email'][0] }}
			</td>
			<td>
				{{ contributor['stats']['additions'] }}
			</td>
			<td>
				{{ contributor['stats']['deletions'] }}
			</td>
			<td>
				{{ contributor['stats']['total'] }}
			</td>

		</tr>
		{% endfor %}
	</tbody>
	</table>
</div>
{% endblock %}
